:root{
  /* colors */
  --white: #fff;
  --background: #F5F5F5;
  --blue-dark: #001747;
  --blue: #11175E;
  --blue-light: #2D70FD;
  --gray-100: #EEEEEE;
  --gray-200: #B1BACB;
  --gray-300: #8F98A8;

  /* box shadows */
  --shadow-1: 0px 0px 4px var(--blue-dark);
}

html,body{
  width: 100%;
  height: 100%;
}

ul, li{
  list-style-type: none;
}

main{
  margin: auto;
  background-color: var(--white);
  width: 66vw;
  height: 90vh;
  border-radius: 32px;
  box-shadow: var(--shadow-1);
  padding: auto;
}

input, ul, li, button{
  /*fonts*/
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
}

button{
  cursor: pointer;
  background: transparent;
  border: none;
}

body{
  background-color: var(--background);
  display: inline;
}

/*Header*/
h1{
  font-family: 'Rubik', sans-serif;
  font-size: 48px;
  line-height: 57px;
  color: var(--blue);
}

.app-header{
  text-align: center;
}

/*Add Bar*/
.form-field{
  text-align: center;
}

.todo-field{
  box-sizing: border-box;
  width: 33vw;
  height: 7vh;
  left: 456px;
  top: 317px;
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 8px;
}

.add-button{
  text-align: center;
  background: var(--blue-light);
  border: 1px solid var(--blue-light);
  border-radius: 4px;
  color: var(--white);
  padding: 12px 24px;
  gap: 8px;
  height: 6vh;
  width: 5vw;
  margin-left: -7.6%;
}

/*To Do List*/
.list-field{
  margin-top: 5%;
  text-align: center;
}

/*footer*/
footer{
  border-top: 1px solid var(--gray-100);
  align-items: center;
  margin-top: 450px;
}




